






@media (max-width: 1320px) {
  .header_content_wrap::after {
    display: none;
  }
  .burger_menu {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    z-index: 2;
  }
  .burger_menu p {
    display: block;
    width: 13px;
    height: 13px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0;
  }
  .burger_menu p:nth-child(2) {
    margin: 0 7px;
  }
  .burger_menu_list {
    display: flex;
    justify-content: center;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #67affcf0;
    padding-top: 100px;
    z-index: 1;
    transition: .5s;
  }
  .burger_menu_list._active {
    top: 0;
  }
  .header_list {
    flex-direction: column;
    text-align: center;
  }
  .header_list li {
    margin: 0 0 45px 0;
    position: relative;
  }
  .header_list li::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
  }
  .header_list li:hover::after {
    opacity: 1;
    visibility: visible;
  }
  .top_line_nav {
    display: none;
  }
  .logo {
    z-index: 2;
  }
  .content_text::before {
    z-index: 0;
  }
  .content_img::before {
    z-index: 0;
  }
  .slick-arrow.slick-prev {
    left: 40%;
  }
  .slick-arrow.slick-next {
    left: 60%;
  }
  .slick-track {
    display: flex;
    justify-content: center;
  }
  .card_item {
    width: 40%;
  }
  .more_info_img {
    display: flex;
    align-items: center;
  }
  /* .footer_mobile {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .mobile_container {
    width: 100%;
  }
  .contact_block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 0 40px;
  }
  .footer_link {
    margin-top: 40px;
  }
  .footer_logo img {
    width: 50%;
    margin: 0 auto;
  }
  .footer_phone {
    margin: 0;
  }
  .footer_wrap {
    display: none;
  } */
}





















@media (max-width: 991px) {
  .func_arrow {
    width: 25px;
    height: auto;
    cursor: pointer;
  }
  .func_arrow img {
    width: 100%;
  }
  .content_text {
    margin-top: 600px;
    width: 100%;
    text-align: left;
  }
  .logo {
    width: 200px;
  }
  .container {
    width: 90%;
  }
  .top_line {
    padding: 9px 0;
  }
  .top_line_nav {
    display: none;
  }
  .content_text h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 27px;
    text-transform: uppercase;
    color: #000000;
  }
  .content_text p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
  }
  .create_content::after {
    display: none;
  }
  .header_content {
    display: block;
    position: relative;
    padding-bottom: 100px;
  }
  .header_content_wrap {
    text-align: center;
  }
  .header_content_wrap::after {
    display: none;
  }
  .header_little_oval {
    display: none;
  }
  .header_wave {
    display: none;
  }
  
  .cards_block::before,
  .cards_block::after {
    display: none;
  }
  .discuss_wrap::after,
  .discuss_wrap::before {
    display: none;
  }
  .content_wrap {
    display: block;
    position: relative;
  }
  .content_img {
    display: none;
  }
  .content_text p {
    margin: 20px 0 30px;
    text-align: left;
  }
  .content_text::before {
    display: none;
  }
  .content_img {
    margin-top: 100px;
  }
  .content_btn {
    width: 100%;
  }
  .mobile_content_img {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: -1;
  }
  .mobile_content_img img {
    width: 100%;
    height: 100%;
  }
  .logo {
    width: 150px;
    z-index: 2;
  }
  .top_line_wrap {
    position: relative;
  }
  .burger_menu {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    z-index: 2;
  }
  .burger_menu p {
    display: block;
    width: 13px;
    height: 13px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0;
  }
  .burger_menu p:nth-child(2) {
    margin: 0 7px;
  }


  .burger_menu_list {
    display: flex;
    justify-content: center;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #67AEFC;
    padding-top: 100px;
    z-index: 1;
    transition: .5s;
  }
  .burger_menu_list._active {
    top: 0;
  }
  .header_list {
    flex-direction: column;
    text-align: center;
  }
  .header_list li {
    margin: 0 0 45px 0;
    position: relative;
  }
  .header_list li::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
  }
  .header_list li:hover::after {
    opacity: 1;
    visibility: visible;
  }

  body._lock {
    overflow: hidden;
  }


  .create {
    padding: 16px 0 30px;
    margin-top: 130px;
  }
  .create_content h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
  }
  .create_func {
    margin-top: 25px;
  }
  .func_element span {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
  }
  .detail_title h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
  }
  .detail_text {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
  }
  .func_element span::after {
    width: 15px;
    height: 15px;
  }
  .detail_title h2::after {
    width: 15px;
    height: 15px;
  }
  .slider_block::after {
    display: none;
  }
  .under_slider_line {
    height: 50px;
  }
  .slider_block {
    padding: 42px 0;
  }
  .slick-arrow {
    bottom: -80px;
    width: 100%;
  }
  .slick-arrow.slick-prev {
    left: 30%;
  }
  .slick-arrow.slick-next {
    left: 70%;
  }
  .slider_content {
    display: block;
    padding: 25px;
    height: auto;
  }
  .slider_content_text {
    width: 100%;
  }
  .slider_content_img {
    width: 100%;
    margin-top: 50px;
  }
  .slider_content_text h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
  }
  .slider_content_text p {
    margin-top: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
  }
  .slider_block_title {
    margin-bottom: 20px;
  }
  .slider_content {
    width: 100%;
  }
  .slider_item {
    width: 100%;
    height: auto;
  }
  .slick-track {
    display: flex;
    justify-content: center;
  }


  .more_info {
    padding: 50px 0;
  }
  .more_info_content {
    display: block;
  }
  .more_info_text {
    width: 100%;
  }
  .more_info_text h2 {
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
  }
  .more_info_text p {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-align: left;
  }
  .more_info_img {
    display: none;
  }
  .more_info_img_mobile {
    display: block;
    margin: 30px 0;
  }
  .more_info_img_mobile img {
    margin: 0 auto;
    display: block;
  }



  .discussion {
    padding: 30px 0;
  }
  .discuss_wrap {
    width: 100%;
  }
  .descuss_text h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
  }
  .descuss_text p {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
  }
  .mobile_img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }



  .footer {
    padding: 40px 0;
  }
  .mobile_container {
    width: 60%;
    height: auto;
    margin: 0 auto;
  }
  .footer_wrap {
    display: none;
  }
  .footer_mobile {
    display: block;
    width: 100%;
  }
  .footer_logo {
    width: 100%;
  }
  .contact_block {
    width: 100%;
  }
  .footer_icons {
    width: 100%;
  }
  /* .footer_icons a {
    margin-right: ;
  } */
  .footer_link {
    width: 100%;
  }
  .contact_block {
    margin-top: 25px;
  }
  .footer_phone {
    left: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }
  .footer_link {
    margin-top: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }
  .footer_info p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }



  .cards_block {
    width: 100%;
    display: none;
  }
  .card_item {
    width: 100%;
    margin-bottom: 15px;
  }
  .online_title h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
  }
  .online_shops {
    padding: 25px 0 100px;
  }
  .mobile_card_slider {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile_card_slider .slick-track{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card_item {
    margin: 0 0 15px 0;
  }
  .card_info {
    width: 100%;
  }
  .card_item  {
    width: 100%;
  }
  .slick-slide {
    width: 100vw;
  }
  .mobile_card_slider .slick-list {
    overflow: hidden;
    width: 100%;
  }
  .mobile_card_slider .card_item {
    width: 100%;
  }
  .card_info {
    width: 100%;
  }
  .first_mobile_column {
    display: block;
  }
  .second_mibile_column {
    display: block;
  }
}


















@media (max-width: 767px) {
  .func_arrow {
    width: 25px;
    height: auto;
    cursor: pointer;
  }
  .func_arrow img {
    width: 100%;
  }
  .container {
    width: 90%;
  }
  .top_line {
    padding: 9px 0;
  }
  .top_line_nav {
    display: none;
  }
  .content_text h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 27px;
    text-transform: uppercase;
    color: #000000;
  }
  .content_text p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
  }
  .create_content::after {
    display: none;
  }
  .header_content {
    display: block;
    position: relative;
    padding-bottom: 50px;
  }
  .header_content_wrap {
    text-align: center;
  }
  .header_content_wrap::after {
    display: none;
  }
  .header_little_oval {
    display: none;
  }
  .header_wave {
    display: none;
  }
  
  .cards_block::before,
  .cards_block::after {
    display: none;
  }
  .discuss_wrap::after,
  .discuss_wrap::before {
    display: none;
  }
  .content_wrap {
    display: block;
    position: relative;
  }
  .content_img {
    display: none;
  }
  .content_text {
    margin-top: 500px;
    width: 100%;
    text-align: left;
  }
  .content_text p {
    margin: 20px 0 30px;
    text-align: left;
  }
  .content_text::before {
    display: none;
  }
  .content_img {
    margin-top: 100px;
  }
  .content_btn {
    width: 100%;
  }
  .mobile_content_img {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: -1;
  }
  .mobile_content_img img {
    width: 100%;
    height: 100%;
  }
  .logo {
    width: 150px;
    z-index: 2;
  }
  .top_line_wrap {
    position: relative;
  }
  .burger_menu {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    z-index: 2;
  }
  .burger_menu p {
    display: block;
    width: 13px;
    height: 13px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0;
  }
  .burger_menu p:nth-child(2) {
    margin: 0 7px;
  }


  .burger_menu_list {
    display: flex;
    justify-content: center;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #67affcf3;
    padding-top: 100px;
    z-index: 1;
    transition: .5s;
  }
  .burger_menu_list._active {
    top: 0;
  }
  .header_list {
    flex-direction: column;
    text-align: center;
  }
  .header_list li {
    margin: 0 0 45px 0;
    position: relative;
  }
  .header_list li::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
  }
  .header_list li:hover::after {
    opacity: 1;
    visibility: visible;
  }

  body._lock {
    overflow: hidden;
  }


  .create {
    padding: 16px 0 30px;
    margin-top: -50px;
  }
  .create_content h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
  }
  .create_func {
    margin-top: 25px;
  }
  .func_element span {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
  }
  .detail_title h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
  }
  .detail_text {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
  }
  .func_element span::after {
    width: 15px;
    height: 15px;
  }
  .detail_title h2::after {
    width: 15px;
    height: 15px;
  }
  .slider_block::after {
    display: none;
  }
  .under_slider_line {
    height: 50px;
  }
  .slider_block {
    padding: 42px 0;
  }
  .slick-arrow {
    bottom: -80px;
    width: 100%;
  }
  .slick-arrow.slick-prev {
    left: 20%;
  }
  .slick-arrow.slick-next {
    left: 70%;
  }
  .slider_content {
    display: block;
    padding: 25px;
    height: auto;
  }
  .slider_content_text {
    width: 100%;
  }
  .slider_content_img {
    width: 100%;
    margin-top: 50px;
  }
  .slider_content_text h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
  }
  .slider_content_text p {
    margin-top: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
  }
  .slider_block_title {
    margin-bottom: 20px;
  }
  .slider_content {
    width: 100%;
  }
  .slider_item {
    width: 100%;
    height: auto;
  }
  .slick-track {
    display: flex;
    justify-content: center;
  }


  .more_info {
    padding: 50px 0;
  }
  .more_info_content {
    display: block;
  }
  .more_info_text {
    width: 100%;
  }
  .more_info_text h2 {
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
  }
  .more_info_text p {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-align: left;
  }
  .more_info_img {
    display: none;
  }
  .more_info_img_mobile {
    display: block;
    margin: 30px 0;
  }



  .discussion {
    padding: 30px 0;
  }
  .discuss_wrap {
    width: 100%;
  }
  .descuss_text h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
  }
  .descuss_text p {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
  }
  .mobile_img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }



  .footer {
    padding: 40px 0;
  }
  .mobile_container {
    width: 60%;
    height: auto;
    margin: 0 auto;
  }
  .footer_wrap {
    display: none;
  }
  .footer_mobile {
    display: block;
    width: 100%;
  }
  .footer_logo {
    width: 100%;
  }
  .contact_block {
    width: 100%;
  }
  .footer_icons {
    width: 100%;
  }
  /* .footer_icons a {
    margin-right: ;
  } */
  .footer_link {
    width: 100%;
  }
  .contact_block {
    margin-top: 25px;
  }
  .footer_phone {
    left: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }
  .footer_link {
    margin-top: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }
  .footer_info p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }



  .cards_block {
    width: 100%;
    display: none;
  }
  .card_item {
    width: 100%;
    margin-bottom: 15px;
  }
  .online_title h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
  }
  .online_shops {
    padding: 25px 0 100px;
  }
  .mobile_card_slider {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile_card_slider .slick-track{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card_item {
    margin: 0 0 15px 0;
  }
  .card_info {
    width: 100%;
  }
  .card_item  {
    width: 100%;
  }
  .slick-slide {
    width: 100vw;
  }
  .mobile_card_slider .slick-list {
    overflow: hidden;
    width: 100%;
  }
  .mobile_card_slider .card_item {
    width: 100%;
  }
  .card_info {
    width: 100%;
  }
  .first_mobile_column {
    display: block;
  }
  .second_mibile_column {
    display: block;
  }
}




@media (max-width: 480px) {
  .content_text {
    margin-top: 400px;
  }
  .func_arrow {
    width: 25px;
    height: auto;
    cursor: pointer;
  }
  .func_arrow img {
    width: 100%;
  }
}


