@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,800;0,900;1,400;1,500;1,700&display=swap');

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
  outline: 0;
  outline-offset: 0;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #6D79EF;
  border-radius: 4px;
}


/* first(header) block */
.container {
  width: 70%;
  height: auto;
  margin: 0 auto;
}
.header {
  width: 100%;
  height: auto;
}
.top_line {
  padding: 20px 0;
  background-color: #67AEFC;
}
.top_line_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top_line_nav {
  display: flex;
  align-items: center;
}
.logo {
  width: 240px;
}
.logo img {
  width: 100%;
  height: auto;
}
.header_list {
  display: flex;
}
.header_list li {
  margin-right: 35px;
}
.header_list li:last-child {
  margin: 0;
}
.header_list li a {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #FFFFFF;
  text-decoration: none;
}
.header_btn {
  padding: 10px 42px;
  border-radius: 5px;
  border: 2px solid transparent;
  background-color: #75E169;
  margin-left: 30px;

  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  
  transition: .3s;
}
.header_btn:hover {
  border: 2px solid #fff;
}
.header_btn:active {
  background-color: #fff;
  color: #67AEFC;
}


/* header content */
.header_content_wrap {
  position: relative;
  width: 100%;
  height: auto;
}
.header_content_wrap::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 610px;
  height: 550px;
  top: 50%;
  transform: translateY(-60%);
  right: -10%;
  background: url("../img/oval.png") no-repeat center;
  background-size: contain;
  z-index: -1;
}
.header_little_oval {
  position: absolute;
  left: 0;
  bottom: 40px;
}
.header_wave {
  position: absolute;
  bottom: 100px;
  left: 65px;
}
.header_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.content_text {
  width: 50%;
  height: auto;
  position: relative;
  display: inline-block;
}
.content_text::before {
  content: '';
  position: absolute;
  display: inline-block;
  top: -20px;
  left: -100px;
  width: 55px;
  height: 55px;
  background: url('../img/ball.png') no-repeat center;
  z-index: 1;
}
.content_text h1 {
  color: #484848;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
}
.content_text p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  margin: 20px 0 60px;
}
.content_btn {
  border-radius: 5px;
  border: 2px solid transparent;
  background-color: #75E169;
  padding: 23px 92px;

  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;  
  text-transform: uppercase;
  cursor: pointer;
  transition: .3s;

  color: #FFFFFF;
}
.content_btn:hover {
  border: 2px solid #67AEFC;
}
.content_btn:active {
  background-color: #67AEFC;
  color: #fff;
}
.content_img {
  width: 50%;
  height: auto;
  position: relative;
}
.content_img::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -50px;
  left: 40%;
  transform: translateX(-60%);
  width: 120px;
  height: 60px;
  background: url('../img/stick.png') no-repeat center;
  background-size: cover;
  z-index: 1;
}
.content_img img {
  width: 100%;
}
.content_wrap {
  display: flex;
}


/* create design */
.create {
  background-color: #DAECFF;
  padding: 120px 0;
}
.create_content {
  position: relative;
  width: 100%;
  height: auto;
}
.create_content::after {
  content: '';
  position: absolute;
  bottom: -70px;
  right: -200px;
  width: 150px;
  height: 150px;
  background: url('../img/bag.png') no-repeat center center;
  z-index: 1;
}
.create_content h1 {
  text-align: center;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  color: #111111;
}
.create_func {
  margin-top: 90px;
}
.func_element {
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px 15px 95px;
  margin-bottom: 10px;
  cursor: pointer;
}
.func_element span {
  position: relative;
  display: block;
}
.func_element span::after {
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  width: 24px;
  height: 24px;
  background-color: #75E169;
  border-radius: 50%;
}
.func_arrow {
  cursor: pointer;
}


.detail_wrap {
  max-height: 0;
  overflow: hidden;
  transition: .3s ease-in-out;
}

.detail {
  background-color: #fff;
  border-radius: 15px;
  padding: 15px 40px 15px 95px; 
  margin-bottom: 10px;
}
.detail_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.detail_title h2 {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
}
.detail_title h2::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -50px;
  width: 24px;
  height: 24px;
  background-color: #67AEFC;
  border-radius: 50%;
}
.func_arrow_rotate {
  transform: rotate(180deg);
  cursor: pointer;
}
.detail_text {
  width: 90%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  padding: 16px 0;

  position: relative;
}
.detail_text::after {
  content: '';
  position: absolute;
  top: 0;
  left: -40px;
  width: 1px;
  height: 100%;
  background-color: #000;
  z-index: 1;
}
.func_element_top {
  cursor: pointer;
}



/* slider block */

.slider_block {
  padding: 125px 0;
  background-color: #fff;
  position: relative;
}
.slider_block::after {
  content: '';
  position: absolute;
  bottom: -80px;
  right: 186px;
  width: 190px;
  height: 70px;
  background: url('../img/blue_wave.png');
}
.slider_block_title {
  position: relative;
  text-align: center;
  margin-bottom: 80px;
}
.slider_block_title::after {
  content: '';
  position: absolute;
  top: 20px;
  left: -100px;
  width: 68px;
  height: 68px;
  background: url('../img/white_ball.png') no-repeat center;
  background-size: cover;
}
.slider_block_title h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  color: #000000;
}

/* slider settings */

.slider {
  position: relative;
  width: 100%;
}
.slick-track{
  display: flex;
}
.slick-list {
  overflow: hidden;
  width: 100%;
}
.slider_item {
  margin-right: 25px;
}
.slider_item:last-child {
  margin: 0;
}

.slick-arrow {
  position: absolute;
  bottom: -120px;
  transform: translateX(-50%);
  border: none;
  z-index: 10;
  cursor: pointer;
  font-size: 0;
}
.slick-arrow.slick-prev{
  left: 45%;
  transform: translateX(-55%);
  background: url('../img/chevron_right.png') no-repeat center;
  transform: rotate(180deg);
  width: 60px;
  height: 60px;
  transition: .2s;
}
.slick-arrow.slick-prev:active {
  background: url('../img/white_chevron.png') no-repeat center;
  transform: rotate(180deg);
  border-radius: 14px;
}
.slick-arrow.slick-next{
  left: 55%;
  transform: translateX(-45%);
  background: url('../img/chevron_right.png') no-repeat center;
  width: 60px;
  height: 60px;
  transition: .2s;
}
.slick-arrow.slick-next:active {
  background: url('../img/white_chevron.png') no-repeat center;
  border-radius: 14px;
}



.slider_content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid #67AEFC;
  border-radius: 14px;
  width: 100%;
  height: 300px;
  padding: 20px 20px 20px 50px;
}
.slider_content_text {
  width: 60%;
}
.slider_content_text h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}
.slider_content_text p {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.slider_content_img {
  width: 200px;
}
.slider_content_img img {
  margin: 0;
  background-size: cover;
  width: 100%;
}

.under_slider_line {
  width: 100%;
  height: 130px;
  background-color: #fff;
}



/* online shops */
.online_shops {
  padding: 120px 0;
  background-color: #DAECFF;
}
.online_title {
  text-align: center;
  margin-bottom: 50px;
}
.online_title h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  color: #111111;
}
.cards_block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
.cards_block::before {
  content: '';
  position: absolute;
  top: 80px;
  left: -230px;
  background: url('../img/pink_wave.png') no-repeat center;
  width: 250px;
  height: 180px;
  z-index: 1;
}
.cards_block::after {
  content: '';
  position: absolute;
  bottom: 100px;
  right: -180px;
  background: url('../img/bigger_white_ball.png') no-repeat center;
  width: 110px;
  height: 110px;
  z-index: 1;
}
.card_item {
  width: 46%;
  height: auto;
  margin: 20px;
  position: relative;
}
.card_item img {
  width: 100%;
}
.card_info {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1;
  background-color: #67affce6;
  border-radius: 14px;
  opacity: 0;
  transition: .3s ease-in-out;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
.card_info a {
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  text-decoration: none;
}
.card_info a:hover {
  text-decoration: underline;
}
.card_item:hover .card_info {
  opacity: 1;
}


/* more information block */

.more_info {
  width: 100%;
  height: auto;
  padding: 130px 0;
  background-color: #fff;
}
.more_info_content {
  width: 100%;
  position: relative;
}
.more_info_content::before {
  content: '';
  position: absolute;
  top: -70px;
  left: -180px;
  width: 60px;
  height: 60px;
  background: url('../img/blue_ball.png') no-repeat center;
  z-index: 1;
}
.more_info_text {
  width: 60%;
}
.more_info_text h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  color: #111111;
}
.more_info_text p {
  margin: 55px 0 45px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #111111;
}
.more_info_content {
  display: flex;
}
.more_info_img {
  width: 40%;
}
.more_info_img img {
  width: 100%;
  height: auto;
}


/* discussion block */
.discussion {
  padding: 180px 0 130px;
  width: 100%;
  height: auto;
  background-color: #DAECFF;
}
.discuss_wrap {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.discuss_wrap::before {
  content: '';
  position: absolute;
  top: 100px;
  left: -350px;
  width: 240px;
  height: 290px;
  background: url('../img/phone.png') no-repeat center;
  z-index: 1;
}
.discuss_wrap::after {
  content: '';
  position: absolute;
  top: 100px;
  right: -350px;
  width: 190px;
  height: 150px;
  background: url('../img/wave_ball.png') no-repeat center;
  z-index: 1;
}
.descuss_text h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  color: #111111;
}
.descuss_text p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin: 30px 0;
}
.discuss_fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.discuss_fields input {
  border: 1px solid #6EB1FB;
  background-color: #fff;
  border-radius: 10px;
  padding: 19px 14px;
  margin-bottom: 20px;
  color: #111111;
}
.discuss_fields input:last-child {
  margin: 0;
}
.discuss_fields input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #939393;
  letter-spacing: 1px;
}



/* footer block */

.footer {
  width: 100%;
  height: auto;
  background-color: #64ABF9;
  padding: 100px 0 80px;
}
.footer_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_logo_block {
  width: 30%;
  height: auto;
}
.footer_logo img {
  width: 100%;
}
.footer_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
}

.contact_block {
  width: 25%;
  height: auto;
}
.footer_phone {
  color: #fff;
  position: relative;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
.footer_phone:last-child {
  margin: 0;
}
.footer_phone::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -40px;
  width: 30px;
  height: 30px;
  background: url('../img/viber.png') no-repeat center;
  z-index: 1;
}
.footer_link {
  width: 25%;
  height: auto;
  align-self: flex-start;
  margin-top: 15px;
}
.footer_link a {
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
.footer_info {
  margin-top: 120px;
  color: #fff;
  text-align: center;
}
.footer_info p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}